@import "components/var";
@import "components/fonts";
@import "../libs/bootstrap/dist/css/bootstrap.min";
@import "../libs/pe-icon-7-stroke/pe-icon-7-stroke";


header {
	padding: 25px 0 25px 0;										
	height: 735px;
	background-color:black;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
.navbar {
		a {
			color:white;
		}
}

.navbar-brand {
	font: {
		family:BigJohn;
		size:25px;
	}
}
.navbar-nav {
	margin-top:10px;
}
.navbar-nav {
	>li>a {
		font: {
			family:OpenSans-regular;
			size:16px;
		}
		padding:5px 10px 5px 10px;
		border:2px solid transparent;
		border-radius: 10px;
		&:hover {
			background-color: transparent;
			border:2px solid white;
		}
	}
}
.header-banner {
	color:white;
	text-align: center;
		&-title {
			font: {
				family:SourceSansProLight;
				size:35px;
			}
		}

		&-content {
			font: {
				family:OpenSans-regular;
				size:16px;
			}
			margin-top:30px;
			line-height: 1.75;
		}
}

.header-icon {
	font: {
		size:35px;
		
	}

	&-cicle {
		width: 30px;
		height: 30px;
		border-radius:50%;
		background-color:#AFEEEE;
		margin:0 auto;
		position: relative;

		i {
			color:white;
			// position:absolute;
			// left:0;
			// right:0;
		}
	}
}


