@font-face {
    font-family: 'BigJohn';
    src: url('../fonts/BIG JOHN/BIG JOHN.eot');
    src: local('☺'), url('../fonts/BIG JOHN/BIG JOHN.woff') format('woff'), url('../fonts/BIG JOHN/BIG JOHN.ttf') format('truetype'), url('../fonts/BIG JOHN/BIG JOHN.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansProLight';
    src: url('../fonts/SourceSansProLight/SourceSansProLight.eot');
    src: local('☺'), url('../fonts/SourceSansProLight/SourceSansProLight.woff') format('woff'), url('../fonts/SourceSansProLight/SourceSansProLight.ttf') format('truetype'), url('../fonts/SourceSansProLight/SourceSansProLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans/OpenSans.eot');
    src: local('☺'), url('../fonts/OpenSans/OpenSans.woff') format('woff'), url('../fonts/OpenSans/OpenSans.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansProLight';
    src: url('../fonts/SourceSansProLight/SourceSansProLight.eot');
    src: local('☺'), url('../fonts/SourceSansProLight/SourceSansProLight.woff') format('woff'), url('../fonts/SourceSansProLight/SourceSansProLight.ttf') format('truetype'), url('../fonts/SourceSansProLight/SourceSansProLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}