@media only screen and (max-width:1199px) {
    .portfolio-products-item-info {
        &-icons {
            margin-top: 20px;
        }
    }
}

@media only screen and (max-width:992px) {
    .about-image img {
        margin-top: 10px;
    }
    .about-details-content-title-text {
        margin-top: 10px;
    }
    .featured-text {
        height: 150px;
    }
    .featured-text-content {
        flex-direction: column;
        justify-content: center;
    }
    .featured-text-content-button {
        margin-top: 20px;
    }
    .services-content-icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .icon {
            margin: 0 30px;
        }
    }
    .services-content-charts {
        justify-content: center;
    }
    .slogan-img {
        img {
            position: relative;
            top: 40px;
            margin: 0 auto;
        }
    }
    .portfolio-products {
        flex-wrap: wrap;
        justify-content: center;
        &-column {
            display: block;
        }
    }
    .portfolio-products-item {
        margin: 10px 10% 0 10%;
    }
    .portfolio-products-item-info {
        padding: 0 10px;
        &-icons {
            margin-top: 20px;
        }
    }
    .team-about {
        margin-top: 20px;
        padding: 0 10px;
    }
    .team-photo img {
        position: relative;
        margin: 0 auto;
    }
    .carousel-indicators {
        margin-top: 20px;
    }
    .testimonials-carousel-photo img {
        margin: 0 auto;
    }
    .testimonials-carousel-content {
        margin-top: 10px;
        text-align: center;
    }
    .news .carousel-indicators {
        flex-direction: row;
    }
}

@media only screen and (max-width:768px) {
    .services-content-icon {
        .icon {
            margin: 0 10px;
        }
    }
    .portfolio-products-item-info {
        padding: 0 40px;
        &-icons {
            margin-top: 40px;
        }
    }
    .price-item {
        margin-bottom: 30px;
    }
    .price .item-2 {
        flex-direction: column;
    }
}

@media only screen and (max-width:480px) {
    .navbar {
        padding: 0 20px;
    }
    .services-content-charts {
        .chart {
            margin: 10px 5px 0 5px;
        }
    }
    .contacts-content {
        flex-direction: column;
    }
    .contacts-item {
        width:100%;
        margin: 30px auto auto;
    }
}

@media only screen and (max-width:320px) {
    .services-content-charts {
        .chart {
            margin: 10px 2px 0 2px;
        }
    }
}