@media only screen and (max-width:1199px) {
    .portfolio-products-item-info {
        &-icons {
            margin-top: $itemmargin;
        }
    }
}

@media only screen and (max-width:992px) {
    .navbar-brand {
        margin-top: 13px;
    }
    .about-image img {
        margin-top: 10px;
    }
    .about-details-content-title-text {
        margin-top: 10px;
    }
    .featured-text {
        height: 150px;
    }
    .featured-text-content {
        flex-direction: column;
        justify-content: center;
    }
    .featured-text-content-button {
        margin-top: 20px;
    }
    .services-content-icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .icon {
            margin: 0 30px;
        }
    }
    .services-content-charts {
        justify-content: center;
    }
    .slogan-img {
        img {
            position: relative;
            top: 40px;
            margin: 0 auto;
        }
    }
    .portfolio-products {
        flex-wrap: wrap;
        justify-content: center;
        &-column {
            display: block;
        }
    }
    .portfolio-products-item {
        margin: 10px 10% 0 10%;
    }
    .portfolio-products-item-info {
        padding: 0 10px;
        &-icons {
            margin-top: 20px;
        }
    }
    .portfolio-products-item-info-icons {
        top: 0;
    }
    .info-mini {
        top: 0;
    }
    .team-about {
        margin-top: 20px;
        padding: 0 10px;
    }
    .team-photo img {
        position: relative;
        margin: 0 auto;
    }
    .carousel-indicators {
        margin-top: 20px;
    }
    .testimonials-carousel-photo img {
        margin: 0 auto;
    }
    .testimonials-carousel-content {
        margin-top: 10px;
        text-align: center;
    }
    .news .carousel-indicators {
        flex-direction: row;
    }
    .price-item {
        width: 200px;
    }
    .contacts-content {
        flex-direction: column;
        align-items: center;
    }
    .contacts-item {
        margin-bottom: $itemmargin;
        width: 300px;
        &:last-child() {
            margin-bottom: 0;
        }
    }
    .form-inputs {
        flex-direction: column;
        input {
            width: 100% !important;
            margin-bottom: $itemmargin;
            &:last-child {
                margin-bottom: 0
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .services-content-icon {
        .icon {
            margin: 0 10px;
        }
    }
    .portfolio-products-item-info {
        padding: 0 40px;
        &-icons {
            margin-top: 40px;
        }
    }
    .price-content {
        flex-direction: column;
    }
    .price-item {
        width: 100%;
        margin-bottom: $itemmargin;
    }
    .price .item-2 {
        flex-direction: column;
    }
    .subscribe-content {
        flex-direction: column;
        input {
            width: 100%;
        }
        button {
            margin-top: 20px;
            width: 100%;
        }
    }
}

@media only screen and (max-width:480px) {
    .navbar {
        padding: 0 20px;
    }
    .services-content-charts {
        .chart {
            margin: 10px 5px 0 5px;
        }
    }
    .contacts-item {
        width: 250px;
    }
}

@media only screen and (max-width:320px) {
    .navbar-nav li a {
        padding-bottom: 5px;
    }
    .services-content-charts {
        .chart {
            margin: 10px 2px 0 2px;
        }
    }
}