@media only screen and (max-width:992px) {
    .about-image img {
        margin-top:10px; 
    }
    .about-details-content-title-text {
        margin-top: 10px;
    }

    .featured-text {
        height: 150px;
    }
    .featured-text-content {
        flex-direction: column;
        justify-content: center;
    }
    .featured-text-content-button {
        margin-top: 20px;
    }

    .services-content-icon {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .icon {
            margin:0 30px;
        }
    }
    .services-content-charts {
        justify-content: center;
    }

}


@media only screen and (max-width:425px) {
    .services-content-icon {
        margin:0 10px;
    }
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
//@media (min-width: 320px) { ... }
//@media (min-width: 768px) { ... }

/* Medium devices (desktops, 992px and up) */
//@media (min-width: 992px) { ... }

/* Large devices (large desktops, 1200px and up) */
// @media (min-width: 1200px) { ... }