doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title BOUNCE
		link(rel="stylesheet" href="styles/main.css")
	body
		header
			header-wrapper
				nav.navbar
					.container-fluid
						.navbar-header
							button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
								span.icon-bar
								span.icon-bar
								span.icon-bar
							a.navbar-brand BOUNCY
						.navbar-collapse.collapse
							ul.nav.navbar-nav.navbar-right
								li
									a(href="#") Hello
								li
									a(href="#") About
								li
									a(href="#") Services
								li
									a(href="#") Portfolio
								li
									a(href="#") Team
								li
									a(href="#") Blog
								li
									a(href="#") Contact
				.header-banner
					h1.header-banner-title WE ARE CODE CAFE
					h2.header-banner-content At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis <br> praesentium voluptatum
				.header-icon
						.header-icon-cicle
							i.pe-7s-angle-down
		main
			section.about
				.wrapper
					.container
						.row-fluid
							.col-lg-5.col-md-5.col-sm-12.col-xs-12.col-lg-offset-2.col-md-offset-2.about-text
								.about-text-title.title THIS IS BOUNCY
								.about-text-content.
									At vero eos et accusamus et iusto odio dignissimos ducimus qui
									blanditiis praesentium voluptatum deleniti atque corrupti quos
									dolores et quas molestias excepturi sint occaecati cupiditate non
									provident, similique sunt in culpa qui officia deserunt mollitia
									animi, id est laborum et dolorum fuga. Et harum quidem rerum
									facilis est et expedita distinctio.
								button.about-text-button.buttons Read More
							.col-lg-2.col-md-2.col-sm-12.col-xs-12.col-lg-offset-1.col-md-offset-1.about-image
								img.img-responsive(src="images/ipad.png")
					.wrapper-about-details
						.container
							.row-fluid
								.about-details
									h2.about-details-title.title DETAILS ABOUT BOUNCY
									h3.about-details-title-info.title-info.
										At vero eos et accusamus et iusto odio dignissimos ducimus qui
										blanditiis praesentium
									.about-details-title-icons
										.icon.icon-active(data-link="#love")
											i.pe-7s-like
										.icon(data-link="#mouse")
											i.pe-7s-mouse
										.icon(data-link="#lamps")
											i.pe-7s-light
									.container
										.row-fluid
											.about-details-contents.col-lg-offset-1.col-md-offset-1
												.about-details-content#love  
													.about-details-content-title Customer Focus
													.col-lg-3.col-md-3.
														At <b class="color-text">vero</b> eos et accusamus et iusto odio
														dignissimos <b class="bold-text">ducimus</b> qui blanditiis
														praesentium voluptatum deleniti atque 
														corrupti quos dolores
													.col-lg-5.col-md-5.col-lg-offset-3.col-md-offset-3.about-details-content-title-text.
														At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis 
														praesentium voluptatum deleniti atque <b class="bold-text">corrupti quos</b> dolores et 
														quas molestias <b class="color-text">excepturi</b> sint occaecati cupiditate non provident, <b class="bold-text">similique</b>
														sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum 
														fuga. Et harum quidem r
												.about-details-content#mouse 
													.about-details-content-title Good Governance
													.col-lg-3.col-md-3.
														At <b class="color-text">vero</b> eos et accusamus et iusto odio
														dignissimos <b class="bold-text">ducimus</b> qui blanditiis
														praesentium voluptatum deleniti atque 
														corrupti quos dolores
													.col-lg-5.col-md-5.col-lg-offset-3.col-md-offset-3.about-details-content-title-text.
														At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis 
														praesentium voluptatum deleniti atque <b class="bold-text">corrupti quos</b> dolores et 
														quas molestias <b class="color-text">excepturi</b> sint occaecati cupiditate non provident, <b class="bold-text">similique</b>
														sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum 
														fuga. Et harum quidem r
												.about-details-content#lamps
													.about-details-content-title Creative Ideas
													.col-lg-3.col-md-3.
														At <b class="color-text">vero</b> eos et accusamus et iusto odio
														dignissimos <b class="bold-text">ducimus</b> qui blanditiis
														praesentium voluptatum deleniti atque 
														corrupti quos dolores
													.col-lg-5.col-md-5.col-lg-offset-3.col-md-offset-3.about-details-content-title-text.
														At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis 
														praesentium voluptatum deleniti atque <b class="bold-text">corrupti quos</b> dolores et 
														quas molestias <b class="color-text">excepturi</b> sint occaecati cupiditate non provident, <b class="bold-text">similique</b>
														sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum 
														fuga. Et harum quidem r
			section.featured
			
					h2.featured-title.title FEATURED PROJECTS
					h3.featured-title.title-info.
						At vero eos et accusamus et iusto odio dignissimos ducimus qui
						blanditiis praesentium
					.featured-carousel
						.container
							.row
								.col-md-12
									.carousel.slide.multi-item-carousel#theCarousel
										.carousel-inner
											.item.active
												.col-xs-4
													a(href="#1")
														img.img-responsive(src="images/ipad.png")
											.item
												.col-xs-4
													a(href="#1")
														img.img-responsive(src="images/ipad.png")
											.item
												.col-xs-4
													a(href="#1")
														img.img-responsive(src="images/ipad.png")
											.item
												.col-xs-4
													a(href="#1")
														img.img-responsive(src="images/ipad.png")

//- <div class="container">
//- <div class="row">
//- <div class="col-md-12">
//- <div class="carousel slide multi-item-carousel" id="theCarousel">
//- <div class="carousel-inner">
//- <div class="item active">
//- <div class="col-xs-4"><a href="#1"><img src="http://placehold.it/300/f44336/000000" class="img-responsive"></a></div>
//- </div>
//- <div class="item">
//- <div class="col-xs-4"><a href="#1"><img src="http://placehold.it/300/e91e63/000000" class="img-responsive"></a></div>
//- </div>
//- <div class="item">
//- <div class="col-xs-4"><a href="#1"><img src="http://placehold.it/300/9c27b0/000000" class="img-responsive"></a></div>
//- </div>
//- <div class="item">
//- <div class="col-xs-4"><a href="#1"><img src="http://placehold.it/300/673ab7/000000" class="img-responsive"></a></div>
//- </div>
//- <div class="item">
//- <div class="col-xs-4"><a href="#1"><img src="http://placehold.it/300/4caf50/000000" class="img-responsive"></a></div>
//- </div>
//- <div class="item">
//- <div class="col-xs-4"><a href="#1"><img src="http://placehold.it/300/8bc34a/000000" class="img-responsive"></a></div>
//- </div>
//- <div class="item">
//- <div class="col-xs-4"><a href="#1"><img src="http://placehold.it/300/8bc34a/000000" class="img-responsive"></a></div>
//- </div>
//- </div>
//- <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
//- <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
//- </div>
//- </div>
//- </div>
//- </div>
		script(src="js/main.min.js")


