doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title BOUNCE
		link(rel="stylesheet" href="styles/main.css")
	body
		header
			include components/header
		main
			section.about
				include components/about
			section.featured
				include components/featured	
			section.services
				include components/services
		script(src="js/main.min.js")




