doctype html
html
    head
        meta(charset='UTF-8')
        title BOUNCY
        link(rel='stylesheet' href='styles/main.css')
    body
        p проверка проверка
    script(src='js/main.min.js')