doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title BOUNCE
		link(rel="stylesheet" href="styles/main.css")
	body
		header
			include components/header
		main
			section.about
				include components/about
			section.featured
				include components/featured	
			section.services.overlay
				include components/services
			section.slogan
				include components/slogan
			section.portfolio.overlay
				include components/portfolio
			section.team
				include components/team
			section.testimonials.overlay
				include components/testimonials
			section.news
				include components/news
			section.price.overlay
				include components/price
			section.subscribe
				include components/subscribe
			section.contacts.overlay
				include components/contacts
		script(src="js/main.min.js")




