doctype html
html
	head
		meta(charset="UTF-8")
		title BOUNCE
		link(rel="stylesheet" href="styles/main.css")
	body
		header
			nav.navbar
				.container-fluid
					.navbar-header
						button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand BOUNCY
					.navbar-collapse.collapse
						ul.nav.navbar-nav.navbar-right
							li
								a(href="#") Hello
							li
								a(href="#") About
							li
								a(href="#") Services
							li
								a(href="#") Portfolio
							li
								a(href="#") Team
							li
								a(href="#") Blog
							li
								a(href="#") Contact
			.header-banner
				h1.header-banner-title WE ARE CODE CAFE
				h2.header-banner-content At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis <br> praesentium voluptatum
				.header-banner-icon
					//- img(src="../images/icons/angle-down-circle.svg")
					i.pe-7s-angle-down-circle

