doctype html
html
	head
		meta(charset="UTF-8")
		title BOUNCE
		link(rel="stylesheet" href="styles/main.css")
	body
		header
			nav.navbar
				.container-fluid
					.navbar-header
						button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand BOUNCY
					.navbar-collapse.collapse
						ul.nav.navbar-nav.navbar-right
							li
								a(href="#") HELLO
							li
								a(href="#") ABOUT
							li
								a(href="#") SERVICES
							li
								a(href="#") PORTFOLIO
							li
								a(href="#") TEAM
							li
								a(href="#") BLOG
							li
								a(href="#") CONTACT