.container
	.row-fluid
		.col-lg-5.col-md-5.col-sm-12.col-xs-12.col-lg-offset-2.col-md-offset-2.about-text
			.about-text-title.title THIS IS BOUNCY
			.about-text-content.
				At vero eos et accusamus et iusto odio dignissimos ducimus qui
				blanditiis praesentium voluptatum deleniti atque corrupti quos
				dolores et quas molestias excepturi sint occaecati cupiditate non
				provident, similique sunt in culpa qui officia deserunt mollitia
				animi, id est laborum et dolorum fuga. Et harum quidem rerum
				facilis est et expedita distinctio.
			button.about-text-button.buttons Read More
		.col-lg-2.col-md-2.col-sm-12.col-xs-12.col-lg-offset-1.col-md-offset-1.about-image
			img.img-responsive(src="images/ipad.png")
.wrapper-about-details
	.container
		.row-fluid
			.about-details
				h2.about-details-title.title DETAILS ABOUT BOUNCY
				h3.about-details-title-info.title-info.
					At vero eos et accusamus et iusto odio dignissimos ducimus qui
					blanditiis praesentium
				nav.about-details-icons
					ul
						li
							a.icon.icon-active(data-link="#customer")
								i.pe-7s-like
						li
							a.icon(data-link="#governance")
								i.pe-7s-mouse
						li
							a.icon(data-link="#creative")
								i.pe-7s-light
				.container
					.row-fluid
						.about-details-contents.col-lg-offset-1.col-md-offset-1
							.about-details-content#customer
								.about-details-content-title Customer Focus
								.col-lg-3.col-md-3.
									At <b class="color-text">vero</b> eos et accusamus et iusto odio
									dignissimos <b class="bold-text">ducimus</b> qui blanditiis
									praesentium voluptatum deleniti atque 
									corrupti quos dolores
								.col-lg-5.col-md-5.col-lg-offset-3.col-md-offset-3.about-details-content-title-text.
									At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis 
									praesentium voluptatum deleniti atque <b class="bold-text">corrupti quos</b> dolores et 
									quas molestias <b class="color-text">excepturi</b> sint occaecati cupiditate non provident, <b class="bold-text">similique</b>
									sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum 
									fuga. Et harum quidem r
							.about-details-content#governance
								.about-details-content-title Good Governance
								.col-lg-3.col-md-3.
									At <b class="color-text">vero</b> eos et accusamus et iusto odio
									dignissimos <b class="bold-text">ducimus</b> qui blanditiis
									praesentium voluptatum deleniti atque 
									corrupti quos dolores
								.col-lg-5.col-md-5.col-lg-offset-3.col-md-offset-3.about-details-content-title-text.
									At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis 
									praesentium voluptatum deleniti atque <b class="bold-text">corrupti quos</b> dolores et 
									quas molestias <b class="color-text">excepturi</b> sint occaecati cupiditate non provident, <b class="bold-text">similique</b>
									sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum 
									fuga. Et harum quidem r
							.about-details-content#creative
								.about-details-content-title Creative Ideas
								.col-lg-3.col-md-3.
									At <b class="color-text">vero</b> eos et accusamus et iusto odio
									dignissimos <b class="bold-text">ducimus</b> qui blanditiis
									praesentium voluptatum deleniti atque 
									corrupti quos dolores
								.col-lg-5.col-md-5.col-lg-offset-3.col-md-offset-3.about-details-content-title-text.
									At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis 
									praesentium voluptatum deleniti atque <b class="bold-text">corrupti quos</b> dolores et 
									quas molestias <b class="color-text">excepturi</b> sint occaecati cupiditate non provident, <b class="bold-text">similique</b>
									sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum 
									fuga. Et harum quidem r