h2.contacts-title.title CONTACTS US
h3.contacts-title.title-info.
	At vero eos et accusamus et iusto odio dignissimos ducimus qui
	blanditiis praesentium
.container
	.row-fluid
		.col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
			.contacts-content
				.contacts-item
					.contacts-item-icon.contacts-email
						i.pe-7s-mail
					.contacts-item-text.text-center
						h4 EMAIL
						p HELLO@CODECAFE.COM
						p PERSONAL@CODECAFE.COM
				.contacts-item
					.contacts-item-icon.contacts-office
						i.pe-7s-map-marker
					.contacts-item-text.text-center
						h4 OUR OFFICE
						p 240 BHATIKHANA, 8200 BARISAL
						p Bangladesh BANGLADESH
				.contacts-item
					.contacts-item-icon.contacts-phone
						i.pe-7s-call
					.contacts-item-text.text-center
						h4 PHONE
						p +00 11 66 99 66 44
						p 11 99 66 44 065
.contacts-form
	.container
		.row-fluid
			.col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
					form.form
						.form-inputs
							input(type="text" placeholder="Your name")
							input(type="text" placeholder="Email adress")
							input(type="text" placeholder="Subject")
						textarea
						button.btn Submit Now
