h2.featured-title.title FEATURED PROJECTS
h3.featured-title.title-info.
	At vero eos et accusamus et iusto odio dignissimos ducimus qui
	blanditiis praesentium
.featured-carousel
	.carousel.slide#featured-carousel(data-ride="carousel" data-interval="5000")
		.carousel-inner(role="listbox")
			.item.active
				row
					.col-lg-6.col-md-6.col-sm-12.col-xs-12
						.featured-carousel-slide
							.featured-carousel-slide-img-1
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						.featured-carousel-slide
							.featured-carousel-slide-img-2
								.featured-carousel-slide-text 
									p VINTAGE
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						.featured-carousel-slide
							.featured-carousel-slide-img-3
								.featured-carousel-slide-text 
									p BRANDING
			.item
				row
					.col-lg-6.col-md-6.col-sm-12.col-xs-12
						.featured-carousel-slide
							.featured-carousel-slide-img-4
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						.featured-carousel-slide
							.featured-carousel-slide-img-5
								.featured-carousel-slide-text 
									p UNIQUE
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						.featured-carousel-slide
							.featured-carousel-slide-img-6
								.featured-carousel-slide-text 
									p RELIABLE
.featured-text
	.featured-text-content
		.col-lg-8.col-lg-offset-1.col-md-8.col-md-offset-1.col-sm-12.col-sm-offset-0.col-xs-12.col-xs-offset-0
			p At vero eos et <b>accusamus</b> et iusto odio dignissimos ducimus qui blanditiis
		.col-lg-1.col-lg-offset-1.col-md-1.col-md-offset-1.col-sm-12.col-xs-12
			button.featured-text-content-button.buttons Submit