header-wrapper
	.navbar
		.container-fluid
			.navbar-header
				button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand BOUNCY
			.navbar-collapse.collapse
				ul.nav.navbar-nav.navbar-right
					li
						a.navbar-link(href="#", data-scroll=".header") Hello
					li
						a.navbar-link(href="#", data-scroll=".about") About
					li
						a.navbar-link(href="#", data-scroll=".services") Services
					li
						a.navbar-link(href="#", data-scroll=".portfolio") Portfolio
					li
						a.navbar-link(href="#", data-scroll=".team") Team
					li
						a.navbar-link(href="#", data-scroll=".news") Blog
					li
						a.navbar-link(href="#", data-scroll=".contacts") Contact
	.header-banner
		h1.header-banner-title WE ARE CODE CAFE
		h2.header-banner-content At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis <br> praesentium voluptatum
	.header-icon
			.header-icon-cicle
				i.pe-7s-angle-down