.container
	.row
		h2.news-title.title LATEST NEWS
		h3.news-title.title-info.
			At vero eos et accusamus et iusto odio dignissimos ducimus qui
			blanditiis praesentium
		.row
			.col-md-10.col-md-offset-2
				.news-carousel.carousel.vertical.slide(data-ride="carousel", data-interval="1200000")
					.row
						.col-md-6
							.carousel-inner
								.item.active
									.news-carousel-first
										.news-carousel-title
											p.news-carousel-title-name The tranding Landing Page
											p.news-carousel-title-author BY KABUR UDIN
											p.news-carousel-title-info 6950 likes - 243 comments - 703 shares
										.news-carousel-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta placeat, beatae. Labore harum rem repellendus, placeat repudiandae pariatur earum dignissimos! Rem qui soluta aut nesciunt eligendi libero nihil nulla obcaecati.
										.news-carousel-button.btn-open + Read More
									.news-carousel-second
										.news-carousel-text Какой то текст к 1 статье. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta placeat, beatae. Labore harum rem repellendus, placeat repudiandae pariatur earum dignissimos!
										.new-carousel-button.btn-close - Hide


