h2.porfolio-title.title FEATURED PROJECTS
h3.porfolio-title.title-info.
    At vero eos et accusamus et iusto odio dignissimos ducimus qui
    blanditiis praesentiu 
.container
    .portfolio-content
        nav
            ul.portfolio-nav
                li
                    a.is-checked.portfolio-link(data-filter=".all") All Works
                li
                    a.portfolio-link(data-filter=".print") Print
                li
                    a.portfolio-link(data-filter=".identify") Identify
                li
                    a.portfolio-link(data-filter=".branding") Branding
                li
                    a.portfolio-link(data-filter=".web") Web
                li
                    a.portfolio-link(data-filter=".html") HTML
                li
                    a.portfolio-link(data-filter=".wordpress") Wordpress
        .portfolio-products
            .portfolio-products-column
                .portfolio-products-item.print
                    img.img-responsive(src="images/portfolio/1.jpg")
                    .portfolio-products-item-info
                        h4 PRINT
                        p.
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui
                            blanditiis praesentium
                        .portfolio-products-item-info-icons
                            .icon.item-icon
                                i.pe-7s-link
                            .icon.item-icon
                                i.pe-7s-like
                .portfolio-products-item.print
                    img.img-responsive(src="images/portfolio/5.jpg")
                    .portfolio-products-item-info
                        h4 PRINT
                        p.
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui
                            blanditiis praesentium
                        .portfolio-products-item-info-icons
                            .icon.item-icon
                                i.pe-7s-link
                            .icon.item-icon
                                i.pe-7s-like
                .portfolio-products-item.identify
                    img.img-responsive(src="images/portfolio/9.jpg")
                    .portfolio-products-item-info
                        h4 IDENTIFY
                        p.
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui
                            blanditiis praesentium
                        .portfolio-products-item-info-icons.info-mini
                            .icon.item-icon
                                i.pe-7s-link
                            .icon.item-icon
                                i.pe-7s-like
            .portfolio-products-column
                .portfolio-products-item.identify
                    img.img-responsive(src="images/portfolio/2.jpg")
                    .portfolio-products-item-info
                        h4 INDENTIFY
                        p.
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui
                            blanditiis praesentium
                        .portfolio-products-item-info-icons.info-mini
                            .icon.item-icon
                                i.pe-7s-link
                            .icon.item-icon
                                i.pe-7s-like
                .portfolio-products-item.branding
                    img.img-responsive(src="images/portfolio/6.jpg")
                    .portfolio-products-item-info
                        h4 BRANDING
                        p.
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui
                            blanditiis praesentium
                        .portfolio-products-item-info-icons
                            .icon.item-icon
                                i.pe-7s-link
                            .icon.item-icon
                                i.pe-7s-like
                .portfolio-products-item.branding
                    img.img-responsive(src="images/portfolio/10.jpg")
                    .portfolio-products-item-info
                        h4 BRANDING
                        p.
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui
                            blanditiis praesentium
                        .portfolio-products-item-info-icons
                            .icon.item-icon
                                i.pe-7s-link
                            .icon.item-icon
                                i.pe-7s-like
            .portfolio-products-column 
                .portfolio-products-item.branding
                    img.img-responsive(src="images/portfolio/3.jpg")
                    .portfolio-products-item-info
                        h4 BRANDING
                        p.
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui
                            blanditiis praesentium
                        .portfolio-products-item-info-icons
                            .icon.item-icon
                                i.pe-7s-link
                            .icon.item-icon
                                i.pe-7s-like
                .portfolio-products-item.web
                    img.img-responsive(src="images/portfolio/7.jpg")
                    .portfolio-products-item-info
                        h4 WEB
                        p.
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui
                            blanditiis praesentium
                        .portfolio-products-item-info-icons
                            .icon.item-icon
                                i.pe-7s-link
                            .icon.item-icon
                                i.pe-7s-like
                .portfolio-products-item.web
                    img.img-responsive(src="images/portfolio/11.jpg")
                    .portfolio-products-item-info
                        h4 WEB
                        p.
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui
                            blanditiis praesentium
                        .portfolio-products-item-info-icons
                            .icon.item-icon
                                i.pe-7s-link
                            .icon.item-icon
                                i.pe-7s-like
            .portfolio-products-column
                .portfolio-products-item.html
                    img.img-responsive(src="images/portfolio/4.jpg")
                    .portfolio-products-item-info
                        h4 HTML
                        p.
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui
                            blanditiis praesentium
                        .portfolio-products-item-info-icons
                            .icon.item-icon
                                i.pe-7s-link
                            .icon.item-icon
                                i.pe-7s-like
                .portfolio-products-item.html
                    img.img-responsive(src="images/portfolio/8.jpg")
                    .portfolio-products-item-info
                        h4 HTML
                        p.
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui
                            blanditiis praesentium
                        .portfolio-products-item-info-icons
                            .icon.item-icon
                                i.pe-7s-link
                            .icon.item-icon
                                i.pe-7s-like
                .portfolio-products-item.wordpress
                    img.img-responsive(src="images/portfolio/12.jpg")
                    .portfolio-products-item-info
                        h4 WORDPRESS
                        p.
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui
                            blanditiis praesentium
                        .portfolio-products-item-info-icons
                            .icon.item-icon
                                i.pe-7s-link
                            .icon.item-icon
                                i.pe-7s-like
.portfolio-text
    .portfolio-text-content
        p At vero eos et <b>accusamus</b> et iusto odio <b>dignissimos</b> ducimus qui blanditiis
        button.portfolio-text-content-button.buttons Start Projects




