.wrapper
    h2.porfolio-title.title FEATURED PROJECTS
    h3.porfolio-title.title-info.
        At vero eos et accusamus et iusto odio dignissimos ducimus qui
        blanditiis praesentium
    .porfolio-content
        .container
            .row-fluid
                nav.col-lg-6.col-lg-offset-2.col-md-6.col-md-offset-2
                    ul.portfolio-nav
                        li
                            a All Works
                        li
                            a Print
                        li
                            a Identify
                        li
                            a Branding
                        li
                            a Web
                        li
                            a HTML
                        li
                            a Wordpress
