.wrapper
    h2.porfolio-title.title FEATURED PROJECTS
    h3.porfolio-title.title-info.
        At vero eos et accusamus et iusto odio dignissimos ducimus qui
        blanditiis praesentium
    .container
        .portfolio-content
            nav
                ul.portfolio-nav
                    li
                        a.is-checked(data-filter=".all") All Works
                    li
                        a(data-filter=".print") Print
                    li
                        a(data-filter=".identify") Identify
                    li
                        a(data-filter=".branding") Branding
                    li
                        a(data-filter=".web") Web
                    li
                        a(data-filter=".html") HTML
                    li
                        a(data-filter=".wordpress") Wordpress
        .portfolio-products
            .portfolio-products-column
                .portfolio-products-item.print
                    img.img-responsive(src="images/portfolio/1.jpg")
                .portfolio-products-item.identify
                    img.img-responsive(src="images/portfolio/5.jpg")
                .portfolio-products-item.branding
                    img.img-responsive(src="images/portfolio/9.jpg")  
            .portfolio-products-column
                .portfolio-products-item.web
                    img.img-responsive(src="images/portfolio/2.jpg")
                .portfolio-products-item.html
                    img.img-responsive(src="images/portfolio/6.jpg")
                .portfolio-products-item.wordpress
                     img.img-responsive(src="images/portfolio/10.jpg")
            .portfolio-products-column 
                .portfolio-products-item.wordpress
                    img.img-responsive(src="images/portfolio/3.jpg")
                .portfolio-products-item.html
                    img.img-responsive(src="images/portfolio/7.jpg")
                .portfolio-products-item.print
                    img.img-responsive(src="images/portfolio/11.jpg")
            .portfolio-products-column
                .portfolio-products-item.html
                    img.img-responsive(src="images/portfolio/4.jpg")
                .portfolio-products-item.identify
                    img.img-responsive(src="images/portfolio/8.jpg")
                .portfolio-products-item.print
                    img.img-responsive(src="images/portfolio/12.jpg")




