h2.price-title.title OUR PRICE
h3.price-title.title-info.
    At vero eos et accusamus et iusto odio dignissimos ducimus qui
    blanditiis praesentium
.container
    .row-fluid
        .price-content
            .col-lg-2.col-md-2.col-lg-offset-2.col-md-offset-2
                .price-item
                    .price-item-title
                        p PREMIUM
                    .price-item-content
                        p.price-item-content-price $ 60
                        p.price-item-content-time Per Month
            .col-lg-2.col-md-2.col-lg-offset-1.col-md-offset-1
                .price-item
                    .price-item-content
                        p Full Branding
                        p Project Management
                        p Unlimited Revisions
                        p 24/7 h Service
                        p Free Domain
                        p Free Hosting
                    .price-item-title
                        p Let`s start >
            .col-lg-2.col-md-2.col-lg-offset-1.col-md-offset-1
                .price-item
