.wrapper
	h2.services-title.title FEATURED PROJECTS
	h3.services-title.title-info.
		At vero eos et accusamus et iusto odio dignissimos ducimus qui
		blanditiis praesentium
	.container
		.row-fluid
			.col-lg-10.col-lg-offset-1.services-content
				.container
					.row-fluid
						nav.col-lg-1.col-sm-12.col-xs-12
							ul.services-content-icon
								li
									a.icon.icon-active(data-link="#tuning")
										i.pe-7s-tools
								li
									a.icon(data-link="#graphic")
										i.pe-7s-paint
								li
									a.icon(data-link="#game")
										i.pe-7s-joy
								li
									a.icon(data-link="#full")
										i.pe-7s-plug
						.col-lg-4.services-content-items
							.services-content-item#tuning
								h4.services-content-items-title Tuning
								p.
									At vero eos et accusamus et iusto odio dignissimos
									ducimus qui blanditiis praesentium voluptatum deleniti.
								p.
									Quos dolores et quas molestias excepturi sint occaecati
									cupiditate non provident, similique sunt in culpa qui officia
									deserunt mollitia animi, id est laborum et dolorum.
							.services-content-item#graphic
								h4.services-content-items-title Graphic Design
								p.
									At vero eos et accusamus et iusto odio dignissimos
									ducimus qui blanditiis praesentium voluptatum deleniti.
								p.
									Quos dolores et quas molestias excepturi sint occaecati
									cupiditate non provident, similique sunt in culpa qui officia
									deserunt mollitia animi, id est laborum et dolorum.
							.services-content-item#game
								h4.services-content-items-title Game Development
								p.
									At vero eos et accusamus et iusto odio dignissimos
									ducimus qui blanditiis praesentium voluptatum deleniti.
								p.
									Quos dolores et quas molestias excepturi sint occaecati
									cupiditate non provident, similique sunt in culpa qui officia
									deserunt mollitia animi, id est laborum et dolorum.
							.services-content-item#full
								h4.services-content-items-title Full Construction
								p.
									At vero eos et accusamus et iusto odio dignissimos
									ducimus qui blanditiis praesentium voluptatum deleniti.
								p.
									Quos dolores et quas molestias excepturi sint occaecati
									cupiditate non provident, similique sunt in culpa qui officia
									deserunt mollitia animi, id est laborum et dolorum. 
						.col-lg-4.col-lg-offset-1.col-sm-12.col-xs-12.services-content-charts
							.chart-1.chart
								strong.chart-text
								p Branding
							.chart-2.chart
								strong.chart-text
								p Web Design
							.chart-3.chart
								strong.chart-text
								p UI/UX

