h2.subscribe-title.title SUBSCRIBE US
h3.subscribe-title.title-info.
    At vero eos et accusamus et iusto odio dignissimos ducimus qui
    blanditiis praesentium
.container
    .subscribe-content
        input(type="text" placeholder="Email Adress")
        button.btn.btn-primary SUBMIT