.wrapper
	h2.team-title.title TEAM
	h3.team-title.title-info.
		At vero eos et accusamus et iusto odio dignissimosducimus qui
		blanditiis praesentiu
	.container
		.row
			.col-lg-10.col-md-10.col-sm-10.col-xs-10.col-md-offset-1#carousel-team.carousel.slide(data-ride="slide")
				ol.carousel-indicators
					li.active(data-target="#carousel-team" data-slite-to="0")
					li(data-target="#carousel-team" data-slite-to="1")
					li(data-target="#carousel-team" data-slite-to="2")
				.carousel-inner(role="list-box")
					.item.active
							.col-md-3.team-photo
								img.img-responsive(src="images/team/1.jpg")
							.col-md-4.col-md-offset-5.team-about
								.team-about-title
									p.team-about-title-name Vin Diesel
									p.team-about-title-post CREATIVE DIRECTOR, CODE CAFE
								.team-about-text.
									At vero eos et accusamus et iusto odio dignissimos ducimus qui
									blanditiis praesentium
								.team-about-progress
									.team-about-progress-item
										.progress-title
											p.progress-name BRANDING
											p.progress-percent-1
										.progress-bar
											.bar.bar-1
									.team-about-progress-item
										.progress-title
											p.progress-name WEB DESIGN
											p.progress-percent-2
										.progress-bar
											.bar.bar-2
									.team-about-progress-item
										.progress-title
											p.progress-name USER INTERFACE
											p.progress-percent-3
										.progress-bar
											.bar.bar-3

