h2.team-title.title TEAM
h3.team-title.title-info.
	At vero eos et accusamus et iusto odio dignissimosducimus qui
	blanditiis praesentiu
.container
	.row
		#carousel-team.carousel.slide(data-ride="carousel", data-interval="1200000").col-lg-10.col-md-10.col-sm-12.col-xs-12.col-lg-offset-1.col-md-offset-1
			.carousel-inner
				.item.active
					.col-lg-3.col-md-4.team-photo.photo-1
						
					.col-lg-3.col-lg-offset-5.col-md-4.col-md-offset-4.team-about
						.team-about-title
							p.team-about-title-name Abdillah Noman
							p.team-about-title-post CREATIVE DIRECTOR, CODE CAFE
						.team-about-text 
							|At vero eos et accusamus et iusto odio 
							|dignissimos ducimus qui blanditiis
						.team-about-progress
							.team-about-progress-item
								.progress-title
									p.progress-name BRANDING
									p.progress-percent
								.progress
									.bar.bar-1
							.team-about-progress-item
								.progress-title
									p.progress-name WEB DESIGN
									p.progress-percent
								.progress
									.bar.bar-2
							.team-about-progress-item
								.progress-title
									p.progress-name USER INTERFACE
									p.progress-percent
								.progress
									.bar.bar-3
				.item
					.col-lg-3.col-md-3.team-photo
						img.img-responsive(src="images/team/2.jpg")
					.col-lg-3.col-lg-offset-5.col-md-4.col-md-offset-5.team-about
						.team-about-title
							p.team-about-title-name Vin Diesel
							p.team-about-title-post FRONT-END DEVELOPER, CODE CAFE
						.team-about-text 
							|At vero eos et accusamus et iusto odio 
							|dignissimos ducimus qui blanditiis
						.team-about-progress
							.team-about-progress-item
								.progress-title
									p.progress-name BRANDING
									p.progress-percent
								.progress
									.bar.bar-2
							.team-about-progress-item
								.progress-title
									p.progress-name WEB DESIGN
									p.progress-percent
								.progress
									.bar.bar-3
							.team-about-progress-item
								.progress-title
									p.progress-name USER INTERFACE
									p.progress-percent
								.progress
									.bar.bar-1
				.item
					.col-lg-3.col-md-3.team-photo
						img.img-responsive(src="images/team/3.jpg")
					.col-lg-3.col-lg-offset-5.col-md-4.col-md-offset-5.team-about
						.team-about-title
							p.team-about-title-name Arnold Schwarzenegger
							p.team-about-title-post BACK-END DEVELOPER, CODE CAFE
						.team-about-text 
							|At vero eos et accusamus et iusto odio 
							|dignissimos ducimus qui blanditiis
						.team-about-progress
							.team-about-progress-item
								.progress-title
									p.progress-name BRANDING
									p.progress-percent
								.progress
									.bar.bar-3
							.team-about-progress-item
								.progress-title
									p.progress-name WEB DESIGN
									p.progress-percent
								.progress
									.bar.bar-2
							.team-about-progress-item
								.progress-title
									p.progress-name USER INTERFACE
									p.progress-percent
								.progress
									.bar.bar-1
			ol.carousel-indicators
				li.active(data-target="#carousel-team" data-slide-to="0")
				li(data-target="#carousel-team" data-slide-to="1")
				li(data-target="#carousel-team" data-slide-to="2")
.team-banner
	.team-banner-content
		p Already Loved Us? Let`s Talk!
		button.team-banner-content-button.buttons Contact Us



























