h2.testimonials-title.title TESTIMONIALS
h3.testimonials-title.title-info.
	At vero eos et accusamus et iusto odio dignissimos ducimus qui
	blanditiis praesentiu
.container
	.row
		.testimonials-carousel.carousel.slide(data-ride="carousel", data-interval="12000")
			.carousel-inner
				.item.active
					.container
						.row-fluid
							.col-lg-2.col-lg-offset-1.col-md-2.col-md-offset-1.col-sm-12.col-xs-12
								.testimonials-carousel-photo
									img.img-responsive(src="images/testimonials/1.jpg")
							.col-lg-8.col-md-8.col-sm-12.col-xs-12
								.testimonials-carousel-content
									p.testimonials-carousel-content-text
										|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
										|Sapiente possimus fugit in similique cumque nulla hic rem |velit laboriosam cum veniam totam perspiciatis voluptatem ut |provident officiis ea vero, repudiandae?
									p.testimonials-carousel-content-name PARTHO
									p.testimonials-carousel-content-company FOUNDER, ARTWAYS BD
				.item
					.container
						.row-fluid
							.col-lg-2.col-lg-offset-1.col-md-2.col-md-offset-1.col-sm-12.col-xs-12
								.testimonials-carousel-photo
									img.img-responsive(src="images/testimonials/2.jpg")
							.col-lg-8.col-md-8.col-sm-12.col-xs-12
								.testimonials-carousel-content
									p.testimonials-carousel-content-text
										|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
										|Sapiente possimus fugit in similique cumque nulla hic rem |velit laboriosam cum veniam totam perspiciatis voluptatem ut |provident officiis ea vero, repudiandae?
									p.testimonials-carousel-content-name JOHN
									p.testimonials-carousel-content-company SERVICENOW, SAN-DIEGO CA
				.item
					.container
						.row-fluid
							.col-lg-2.col-lg-offset-1.col-md-2.col-md-offset-1.col-sm-12.col-xs-12
								.testimonials-carousel-photo
									img.img-responsive(src="images/testimonials/3.jpg")
							.col-lg-8.col-md-8.col-sm-12.col-xs-12
								.testimonials-carousel-content
									p.testimonials-carousel-content-text
										|Lorem ipsum dolor sit amet, consectetur adipisicing elit.
										|Sapiente possimus fugit in similique cumque nulla hic rem |velit laboriosam cum veniam totam perspiciatis voluptatem ut |provident officiis ea vero, repudiandae?
									p.testimonials-carousel-content-name YONNA
									p.testimonials-carousel-content-company JSP BUSINESS GROUP COMPANY, STOCKHOLM SWEDEN 
			ol.carousel-indicators
				li.active(data-target=".testimonials-carousel" data-slide-to="0")
				li(data-target=".testimonials-carousel" data-slide-to="1")
				li(data-target=".testimonials-carousel" data-slide-to="2")