@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello/fontello.eot?54112277');
    src: url('../fonts/fontello/fontello.eot?54112277#iefix') format('embedded-opentype'), url('../fonts/fontello/fontello.woff2?54112277') format('woff2'), url('../fonts/fontello/fontello.woff?54112277') format('woff'), url('../fonts/fontello/fontello.ttf?54112277') format('truetype'), url('../fonts/fontello/fontello.svg?54112277#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}